@(message: String)

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spirograph-inator</title>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")">
</head>
<body>
	<canvas keepalive="true" id="canvas" resize="true" data-paper-keepalive="true"></canvas>

	<script type="text/javascript" src="@routes.Assets.at("javascripts/paper-full.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
	<script type="text/paperscript" canvas="canvas" src="@routes.Assets.at("javascripts/shape.js")"></script>
</body>
</html>